/* Application UI styles */

body {
	margin-bottom: 20px;
	padding-top: 85px;
}

.backbone-view {
	display: none;
}

.table .col-actions {
	text-align: right;
}

.container .alert {
	margin-bottom: 8px;
}

.flash-container {
	position: fixed;
	top: 4px;
	min-height: 42px;
}

.navbar-fixed-top + .flash-container {
	top: 54px;
}

.flash-container .alert {
	padding: 8px 15px;
	margin-bottom: 2px;
}

.flash-container .alert button.close {
	margin-top: -2px;
}

@media (max-width: 768px) {

	.flash-container {
		width: 100%;
	}
	
	.navbar-nav > li > span.username {
		display: block;
		padding: 10px 15px;
		margin-top: 10px;
		margin-bottom: 0;
		line-height: 20px;
	}

}

@media (min-width: 768px) {

	.flash-container {
		left: 50%;
		margin-left: -375px;
	}

}

@media (min-width: 992px) {

	.flash-container {
		margin-left: -485px;
	}

}

@media (min-width: 1200px) {

	.flash-container {
		margin-left: -585px;
	}

}
